@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
h1{
	font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #fff;
  background-color: white;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  padding: 15%;

}




body{
  background: -linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  
}

/*------------*/

input[type="number"]{
  display: none;
  input[type="checkbox"]:checked ~ &{
    display: inline;
  }
}


